body {
  padding:0;
  margin:0;
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url(../images/cloud_background.jpg);
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

.primary-column {
  width: 35%;
}

.secondary-column {
  width: 65%;
}

#header {
  background-color: #484848;
  padding: 5px;
  width: 100%;
  border-bottom-style: groove;
  
}

nav {
  height: 40px;
  width: 100%;
  position: relative;
  background-color: #484848;
  font-size: 20px;

}
 
 nav ul {
  margin: 0 auto;
  width: 1000px;
 }

 nav li {
  display: inline;
  float: left;
 }

nav a {
  text-decoration: none;
  color: #fffacd;
  display: inline-block;
  width: 200px;
  text-align: center;
}

nav li a {
    border-right: 1px solid #fffacd;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #8c99a4;
}

#pull {
  display: none;
}       

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

 #name {
  margin: 20px 0px 0px 100px;
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  float: left;
  color: #afeeee;
 }

.role {
  font-weight: 300;
  font-size: 20px;
  margin: 57px 0px 0px 10px;
  float: left;
  color: #fffacd;
}

#bio-skills-box {
  background-color: rgba(255, 250, 205, 0.6); 
  margin: 5%;
}

#pic {
  
}


.biopic {
  border-radius: 50%;
  width: 50%;
}





/* Media queries to handle various device widths */

/*@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}*/
