body {
  padding:0;
  margin:0;
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url(../images/cloud_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;
}

.primary-column {
  width: 30%;
}

.secondary-column {
  width: 70%;
}

#header {
  background-color: #484848;
  border-bottom-style: groove;
}

nav {
  height: 40px;
  width: 100%;
  position: relative;
  background-color: #484848;
  font-size: 20px;
}
 
 nav ul {
  margin: 0 auto;
  width: 1000px;
  height: 40px;
 }

 nav li {
  display: inline;
  float: left;
  height: 40px;
 }

nav a {
  text-decoration: none;
  color: #fffacd;
  display: inline-block;
  width: 200px;
  text-align: center;
  height: 40px;
  padding-top: 8px;
}

nav li a {
    border-right: 1px solid #fffacd;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #8c99a4;
}

#pull {
  display: none;
}       

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

 #name {
  margin: 20px 0px 0px 100px;
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  float: left;
  color: #afeeee;
 }

.role {
  font-weight: 300;
  font-size: 20px;
  margin: 57px 0px 0px 10px;
  float: left;
  color: #fffacd;
}

#bio-skills-box {
  background-color: rgba(255, 250, 205, 0.6); 
  margin: 5%;
}

.biopic {
  border-radius: 50%;
  width: 120px;

}





/* Media queries to handle various device widths */

@media screen and (max-width: 1100px) {
  nav {
    height: auto;
    width: 100%;
  }
  nav ul {
    width: 100%;
    display: block;
    height: auto;
    padding-left: 0px;
  }
  nav li {
    width: 50%;
    float: left;
    position: relative;
  }
  nav li a {
    border-bottom: 2px solid #fffacd;
    border-right: 2px solid #fffacd;
    margin: 0px;
  }
  nav a {
    text-align: center;
    width: 100%;
  }
  .responsive-1100 {
    float: none;
    width: 100%;
  }
  #bio-skills-box {
    min-width: 320px;
  }
}

@media screen and (max-width: 750px) {
  #name {
    float: none; 
    margin: 0 auto;
    text-align: center;        
  }
  .role {
    float: none;
    margin: 0px 0px 10px 0px;
    display: block;
    text-align: center;
  }
}


@media only screen and (max-width : 500px) {
  nav {
    border-bottom: 0;
    
  }
  nav ul {
    display: none;
    height: auto;
    
  }
  #pull {
    display: block;
    background-color: #484848;
    width: 100%;
    position: relative;
    height: 60px;
    font-size: 35px;
  }
  #pull:after {
    content:"";
    background: url(../images/nav_icon.png) no-repeat;
    width: 63px;
    height: 63px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 5px;
    bottom: 5px;
  }
}

