body {
  padding:0;
  margin:0;
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url(../images/cloud_background.jpg);
  background-repeat: no-repeat;
}

#header {
  background-color: #484848;
  padding: 5px;
  
}

.clear-fix {
  overflow: auto;
}

#navbar {
display:inline-block;
width:100%;
float: right;
white-space: nowrap;
border-top-style: groove;
border-top-width: 5px;
}

.navbar-li {
display:inline-block;
white-space:nowrap;
background-color:#484848;
margin-bottom: 25px;
}

.left-align-li {
  float:left;
  margin: 0px 0px 0px 175px;
  font-size: 30px;
  color: #fffacd;
}

.right-align {
  float: right;
  font-size: 30px;
  margin: 0px 30px 0px 30px;

}

.end-navbar{
  margin: 0px 175px 0px 30px;
}
 
a {
  text-decoration: none;
  color: #fffacd;
}
 #name {
  margin: 35px 0px 0px 50px;
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  float: left;
  color: #afeeee;
 }

.role {
  font-weight: 300;
  font-size: 20px;
  margin: 70px 0px 0px 10px;
  float: left;
  color: #fffacd;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}



/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
