{% extends "index.html" %}
{% block content %}
<div class="picture-grid">
	<div class="pixel-size column1 column50 grayscale">
		<a href="#openModal1">
			<span class="img-insert1"></span>
		</a>
	</div>
	<div class="pixel-size column2 column50-2 grayscale">
		<a href="#openModal2">
			<span class="img-insert2"></span>
		</a>
	</div>
	<div class="pixel-size column3 column50 grayscale">
		<a href="#openModal3">
			<span class="img-insert3"></span>
		</a>
	</div>
	<div class="pixel-size column1 column50-2 grayscale">
		<a href="#openModal4">
			<span class="img-insert4"></span>
		</a>
	</div>	
	<div class="pixel-size column2 column50 grayscale">
		<a href="#openModal5">
			<span class="img-insert5"></span>
		</a>
	</div>
	<div class="pixel-size column3 column50-2 grayscale"> 
		<a href="#openModal6">
			<span class="img-insert6"></span>
		</a>
	</div>
	<div class="pixel-size column1 column50-2 grayscale"> 
		<a href="#openModal7">
			<span class="img-insert7"></span>
		</a>
	</div>
	<div class="pixel-size column2 column50-2 grayscale"> 
		<a href="#openModal8">
			<span class="img-insert8"></span>
		</a>
	</div>
	<div class="pixel-size column3 column50-2 grayscale"> 
		<a href="#openModal9">
			<span class="img-insert9"></span>
		</a>
	</div>
</div>	

<!--Modal code below-->	
<div id="openModal1" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert1"></span>
		<p class="modalFont">This was my homepage screen that included a banner, navigation bar, and boxes that were able to be toggled to either show or hide each subheading's description.</p>
	</div>
</div>

<div id="openModal2" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert2"></span>
		<p>This shows what the homepage looked like once the toggled subheadings were opened using the corresponding Jquery.</p>
	</div>
</div>
<div id="openModal3" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert3"></span>
		<p>On my next page I embedded my early HTML notes that I took on Codepen.</p>
	</div>
</div>

<div id="openModal4" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert4"></span>
		<p>The Guestbook page was where my datastore was setup.  When this page was live it kept all the comments of visitors along with their name and time stamp.</p>
	</div>
</div>
<div id="openModal5" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert5"></span>
		<p>Here is the beginning of my Stage 5 notes page.  This top section was more or less a reflection of what I felt about the things I had learned.</p>
	</div>
</div>

<div id="openModal6" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert6"></span>
		<p>The lower section of the Stage 5 notes page shows my notes on the JavaScript basics course.  In Stage 5 we covered many different topics of programming, but I choose to focus on JavaScript, as that would be my next step.</p>
	</div>
</div>
<div id="openModal7" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert7"></span>
		<p>This basic Portfolio page was created as a place where I can link to my projects that I'll be creating in the Front End Web Developer course.</p>
	</div>
</div>

<div id="openModal8" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert8"></span>
		<p>The circular kitten pictures will eventually hold screen shots of my projects with a link below it to my GitHub account to show my code.</p>
	</div>
</div>
<div id="openModal9" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2 class="projects">Project Description</h2>
		<span class="img-insert9"></span>
		<p>This image shows my modal setup.  Each project image has one that gives a brief overview of that particular project.</p>
	</div>
</div>
{% endblock %}