{% extends "index.html" %}
{% block content %}
<div class="picture-grid">
	<div class="pixel-size column1 column50 grayscale">
		<a href="#openModal1">
			<img src="../src-images/stage5-home.png">
		</a>
	</div>
	<div class="pixel-size column2 column50-2 grayscale">
		<a href="#openModal2">
			<img src="../src-images/stage5-toggle-descriptions.png">
		</a>
	</div>
	<div class="pixel-size column3 column50 grayscale">
		<img src="../src-images/stage5-codepen.png">
	</div>
	<div class="pixel-size column1 column50-2 grayscale">
		<img src="../src-images/stage5-guestbook.png">
	</div>	
	<div class="pixel-size column2 column50 grayscale">
		<img  src="../src-images/stage5-notes.png">
	</div>
	<div class="pixel-size column3 column50-2 grayscale"> 
		<img src="../src-images/stage5-notes2.png">
	</div>
	<div class="pixel-size column3 column50-2 grayscale"> 
		<img src="../src-images/portfolio1.png">
	</div>
	<div class="pixel-size column3 column50-2 grayscale"> 
		<img src="../src-images/portfolio2.png">
	</div>
	<div class="pixel-size column3 column50-2 grayscale"> 
		<img src="../src-images/portfolio3.png">
	</div>
</div>	
</div>	

{% endblock %}