{% extends "index.html" %}
{% block content %}
<div class="picture-grid">
	<div class="pixel-size column1 column50">
		<img src="../src-images/inpd-stage5-home-600medium-greyscale.png">
	</div>
	<div class="pixel-size column2 column50-2">
		<img src="../src-images/inpd-stage5-toggle-descriptions-600mediumgreycale.png">
	</div>
	<div class="pixel-size column3 column50">
		<img src="../src-images/inpd-stage5-codepen-600medium-greyscale.png">
	</div>
	<div class="pixel-size column1 column50-2">
		<img src="../src-images/inpd-stage5-guestbook-600medium-greyscale.png">
	</div>	
	<div class="pixel-size column2 column50">
		<img  src="../src-images/inpd-stage5-notes-600medium-greyscale.png">
	</div>
	<div class="pixel-size column3 column50-2"> 
		<img src="../src-images/inpd-stage5-notes2-600medium-greyscale.png">
	</div>
	<div class="pixel-size column3 column50-2"> 
		<img src="../src-images/portfolio-1-600medium-greyscale.png">
	</div>
	<div class="pixel-size column3 column50-2"> 
		<img src="../src-images/portfolio-2-600medium-greyscale.png">
	</div>
	<div class="pixel-size column3 column50-2"> 
		<img src="../src-images/portfolio-3-600medium-greyscale.png">
	</div>
</div>	
</div>	

{% endblock %}